*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    width: 300px;
    height: 450px;
    top: 80px;
    background-color: grey;
    border: solid black 5px;
    border-radius: 20px;
}

h1{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.inputs #ip1,
.inputs #ip2,
.inputs #result{
    position: relative;
    background-image: linear-gradient(135deg, #868f96 10%, #596164 100%);
    width: 250px;
    height: 40px;
    top: 40px;
    left: 15px;
    border: solid black 2px;
    border-radius: 10px;
}

.inputs #ip2{
    top: 60px;
}

.inputs #result{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 270px;
    top: 80px;
    font-size: 20px;
}

.inputs #ip1::placeholder,
.inputs #ip2::placeholder{
    position: relative;
    color: black;
    text-align: end;
}

.inputs input{
    padding-left: 20px;
}

button{
    position: relative;
    width: 100px;
    height: 70px;
    left: 50px;
    top: 100px;
    font-size: 30px;
    font-weight: bolder;
    background: linear-gradient(135deg, #d7d2cc 10%, #304352 100%);
    outline: none;
    border-radius: 10px;
}

#add{
    left: 3px;
}

#sub{
    left: 90px;
}

#mul{
    left: 3px;
    top: 70px;
}

#div{
    left: 90px;
    top: 70px;
}

#reset{
    position: relative;
    width: 70px;
    height: 150px;
    font-size: 20px;
    left: -95px;
    top: 30px;
}

@media screen and (max-width: 900px){
   
    body{
        background-size: 1200px;
    }
}